@page "/fetchorderdetails"
@using Newtonsoft.Json
@using System.Security.Claims
@using industriation_crm.Shared.Models
@using industriation_crm.Shared.FilterModels
@inject AuthenticationStateProvider AuthenticationStateProvider
@inject HttpClient Http
@inject NavigationManager NavigationManager

<link rel="stylesheet" href="bootstrap 2.0.css" />

<div class="main-title">Заказы</div>
<hr />
@if (load)
{
    <div class="loading-block-ind">
        <img src="https://industriation.ru/Catalog/view/theme/default/img/main_logo.svg" alt="" style="width: 350px;" class="blink">
        <div style="margin-top: 10px; font-size: 18px; color: #333; font-weight: 600; width: 350px; text-align: center;">
            <hr />
            Подождите пожалуйста
        </div>
    </div>
}
else
{
    <div class="main-section mb-20">
        <div class="main-section-label">
            Фильтр:
        </div>
        <row-f>
            <div class="custom-select mr-20">
                <input class="custom-input" contenteditable="true" @bind="manager_search" @bind:event="oninput" placeholder="Поиск менеджера">
                </input>
                @foreach (var m in noSelectManagers.Where(m => m.name.Contains(manager_search)))
                {
                    <button @onclick="()=>{noSelectManagers.Remove(m); SelectManagers.Add(m);}">
                        <div class="name">@m.name</div>
                    </button>
                }
            </div>
            <div class="manager-field">
                @foreach (var m in SelectManagers)
                {
                    <button @onclick="()=>{SelectManagers.Remove(m); noSelectManagers.Add(m);}">
                        <div class="name">@m.name</div>
                        <img src="./icons/delete-icon.svg" />
                    </button>
                }
            </div>
        </row-f>
        <div class="section-field ind-col-lg-10">
            <div class="ind-col-lg-5 input-field">
                <div class="input-label ind-col-lg-5">
                    Номер заказа:
                </div>
                <input type="number" @bind="ordersFilter.order_id" class="main-input ind-col-lg-5"></input>
            </div>
            <div class="ind-col-lg-5 input-field">
                <div class="input-label ind-col-lg-5">
                    Покупатель:
                </div>
                <input @bind="ordersFilter.client" class="main-input ind-col-lg-5"></input>
            </div>
       </div>
       <div class="section-field ind-col-lg-10">
            <div class="ind-col-lg-5 input-field">
                <div class="input-label ind-col-lg-5">
                    Дата заказа от:
                </div>
                <input type="date" @bind="ordersFilter.order_date_from" class="main-input ind-col-lg-5"></input>
            </div>
            <div class="ind-col-lg-5 input-field">
                <div class="input-label ind-col-lg-5">
                    Дата заказа до:
                </div>
                <input type="date" @bind="ordersFilter.order_date_to" class="main-input ind-col-lg-5"></input>
            </div>
       </div>
        <button @onclick="GetOrders" class="score mb-20 mt-20">Поиск</button>


        <div class="section-field">
            <table class="order-table ind-col-lg-10">
                <thead class="ind-col-lg-10">
                    <tr class="order-row ind-col-lg-10">
                        <td class="ind-col-lg-1">Номер заказа</td>
                        <td class="ind-col-lg-2">Покупатель</td>
                        @if(role == 1){
                            <td class="ind-col-lg-2">Контрагент</td>
                        }
                        else
                        {
                            <td class="ind-col-lg-2">Менеджер по снабжению</td>
                        }
                        <td class="ind-col-lg-2">Менеджер</td>
                        <td class="ind-col-lg-1">Статус заказа</td>
                        <td class="ind-col-lg-1">Этап</td>
                        <td class="ind-col-lg-1">Действия</td>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var order in ordersReturnData?.orders)
                    {
                        <tr class="order-row ind-col-lg-10">
                            <td class="ind-col-lg-1">@order.id</td>
                            <td class="ind-col-lg-2">@order.main_contact.full_name</td>
                            @if (role == 1)
                            {
                                <td class="ind-col-lg-2">
                                    @if (@order.client?.client_type == 1)
                                    {
                                        @order.client?.org_name
                                    }
                                    @if (@order.client?.client_type == 0)
                                    {
                                        <div>---</div>
                                    }
                                </td>
                            }
                            else
                            {
                                <td class="ind-col-lg-2">
                                    @order?.supplier_manager?.name
                                </td>
                            }
                            <td class="ind-col-lg-2">@order.user?.name</td>
                            <td class="ind-col-lg-1">@order.order_status?.name</td>
                            <td class="ind-col-lg-1">@order.stage?.name</td>
                            <td class="ind-col-lg-1">
                                <a href='/order/edit/@order.id' class="score" role="button">
                                    Изменить
                                </a>
                            </td>
                        </tr>
                    }
                </tbody>

            </table>
        </div>
        <div class="section-field filter-pagination mt-20">
            <div>
                Страница:
                <input class="pagination-input" type="number" min="1" @bind="current_page" @bind:event="oninput" @onkeydown="OnKeyDown">
                из @page_count.Count()
                <button class="score" @onclick="GetOrders">Перейти</button>
            </div>
            <div>
                <button class="score" @onclick="PagPrev">Предыдущая</button>
                <button class="score" @onclick="PagNext">Следующая</button>
            </div>
        </div>
    </div>
}
@code {

    protected string manager_search = "";
    protected int count_on_page = 50;
    protected int current_page = 1;
    List<int> page_count = new List<int>();
    protected OrdersFilter ordersFilter = new();
    protected OrdersReturnData ordersReturnData = new();

    protected order order = new();
    bool load = true;
    protected List<user> SelectManagers = new();
    protected List<user> noSelectManagers = new();
    protected int role { get; set; }

    protected override async Task OnInitializedAsync()
    {
        var authState = await AuthenticationStateProvider.GetAuthenticationStateAsync();
        role = Convert.ToInt32(authState.User.FindFirst(ClaimTypes.Role).Value);
        noSelectManagers = await Http.GetFromJsonAsync<List<user>>("api/User?type=managers");
        await GetOrders();
    }
    public void EditOrder(int order_id)
    {
        NavigationManager.NavigateTo($"/order/edit/{order_id}");
    }
    protected async Task Search()
    {
        current_page = 1;
        await GetOrders();
    }
    protected async Task OnKeyDown(KeyboardEventArgs e)
    {

        if (e.Key == "Enter")
        {
            await GetOrders();
        }
    }
    protected async Task PagPrev()
    {
        if (current_page > 1)
        {
            current_page--;
            await GetOrders();
        }
    }
    protected async Task PagNext()
    {
        if (current_page < page_count.Count)
        {
            current_page++;
            await GetOrders();
        }
    }
    protected async Task GetOrders()
    {
            load = true;
            ordersFilter.current_page = current_page;
            if (page_count.Count != 0 && (current_page < 1 || current_page > page_count.Count))
                return;
            ordersFilter.order_on_page = count_on_page;
            if (role == 1)
                ordersFilter.stage = 1;
            else if (role == 6)
                ordersFilter.stage = 2;


            if (SelectManagers.Count == 0)
                ordersFilter.managers = noSelectManagers;
            else
                ordersFilter.managers = SelectManagers;
            var response = await Http.PostAsJsonAsync("api/Order/GetOrders", ordersFilter);
            string responseBody = await response.Content.ReadAsStringAsync();
            ordersReturnData = JsonConvert.DeserializeObject<OrdersReturnData>(responseBody);

            int total_page = Convert.ToInt32(Math.Ceiling(ordersReturnData.count / Convert.ToDouble(count_on_page)));
            page_count = new();
            for (int i = 1; i <= total_page; i++)
                page_count.Add(i);
            load = false;
        
    }


}