@page "/contact/add/{clientId:int}"
@page "/contact/edit/{clientId:int}/{contactId:int}/{isClient:bool}"
@using industriation_crm.Shared.Models
@inject HttpClient Http
@inject NavigationManager NavigationManager
<link rel="stylesheet" href="bootstrap 2.0.css" />

<EditForm Model="@contact" OnValidSubmit="SaveContact">
    <DataAnnotationsValidator />
    <div class="main-title">@Title пользователя</div>
    <hr />
    <div class="main-section">
        <div class="mb-3">
            <div class="ind-col-lg-5 input-field">
                <div class="input-label">Имя</div>
                <InputText class="main-input" @bind-Value="contact.name" />
                <ValidationMessage For="@(() => contact.name)" />
            </div>
        </div>
        <div class="mb-3">
            <div class="ind-col-lg-5 input-field">
                <div class="input-label">Фамилия</div>
                <InputText class="main-input" @bind-Value="contact.surname" />
                <ValidationMessage For="@(() => contact.surname)" />
            </div>
        </div>
        <div class="mb-3">
            <div class="ind-col-lg-5 input-field">
                <div class="input-label">Отчество</div>
                <InputText class="main-input" @bind-Value="contact.patronymic" />
                <ValidationMessage For="@(() => contact.patronymic)" />
            </div>
        </div>
        <div class="mb-3">
            <div class="ind-col-lg-5 input-field">
                <div class="input-label">Email</div>
                <InputText class="main-input" @bind-Value="contact.email" />
                <ValidationMessage For="@(() => contact.email)" />
            </div>
        </div>
        <div class="mb-3">
            <div class="ind-col-lg-5 input-field">
                <div class="input-label">Телефон</div>
                <InputText class="main-input" @bind-Value="contact.phone" />
                <ValidationMessage For="@(() => contact.phone)" />
            </div>
        </div>


        @foreach (var phone in contact?.contact_phones?.Where(p => p.isRemove == false))
        {
            <div class="mb-3">
                <label for="Name" class="form-label">Доп. телефон</label>
                <div class="col-md-4">
                    <InputText class="form-control" @bind-Value="phone.phone" />
                    <button type="button" class="btn btn-danger float-end" @onclick="()=>phone.isRemove = true"><span class=" oi oi-trash" aria-hidden="true"></span></button>
                </div>
                <ValidationMessage For="@(() => phone.phone)" />
            </div>
        }
        <br />
        <button type="button" class="btn btn-light" @onclick="AddPhone">Добавить номер</button>
        <br /><br />
        <div class="form-group">
            <button type="submit" class="btn btn-primary">Сохранить</button>
            <button type="button" class="btn btn-light" @onclick="Cancel">Закрыть</button>
        </div>
    </div>
</EditForm>
@code {
    [Parameter]
    public int clientId { get; set; }
    [Parameter]
    public int contactId { get; set; }
    [Parameter]
    public bool isClient { get; set; }

    protected string Title = "Добавить";
    protected contact contact = new();
    protected override async Task OnInitializedAsync()
    {

    }
    protected void AddPhone()
    {
        contact_phone contact_Phone = new contact_phone();
        contact?.contact_phones?.Add(contact_Phone);
    }
    protected override async Task OnParametersSetAsync()
    {
        if (contactId != 0)
        {
            Title = "Изменить";
            contact = await Http.GetFromJsonAsync<contact>("api/Contact/" + contactId);
        }
    }
    protected async Task SaveContact()
    {

        if (contact.id != 0)
        {
            await Http.PutAsJsonAsync("api/Contact", contact);
        }
        else
        {
            contact.client_id = clientId;
            await Http.PostAsJsonAsync("api/Contact", contact);
        }
        Cancel();
    }
    public void Cancel()
    {
            NavigationManager.NavigateTo($"/client/edit/{clientId}");
    }
}