@inject HttpClient Http
<div class="main-title">Управление заказом @order.id</div>
<hr />
<div class="main-section">

    <h2>Этап заказа: @order?.stage?.name</h2>

    <div class="section-field">
        <table class="order-table ind-col-lg-10">
            <thead class="table-success ind-col-lg-10">
                <tr class="order-row ind-col-lg-10">
                    <td class="ind-col-lg-1">ID продукта</td>
                    <td class="ind-col-lg-2">Наименование</td>
                    <td class="ind-col-lg-2">Срок доставки</td>
                    <td class="ind-col-lg-1">Цена</td>
                    <td class="ind-col-lg-1">Количество</td>
                    <td class="ind-col-lg-1">Скидка</td>
                    <td class="ind-col-lg-1">Стоимость</td>
                    <td class="ind-col-lg-1"><input type="checkbox" @onchange="(e)=>checkAllProducts(e)"></input></td>

                </tr>
            </thead>
            <tbody class="ind-col-lg-10">
                @if (order != null && order.product_To_Orders != null)
                {
                    @foreach (var p in order!.product_To_Orders.OrderBy(p => p.product_postition))
                    {
                        <tr class="order-row">
                            <td class="ind-col-lg-1" id="model">
                                @p?.product?.id
                            </td>
                            <td class="ind-col-lg-2">
                                <a href="" class="table-link">
                                    @p?.product?.name

                                    <div class="table-link-modal">
                                        <div class="ind-col-lg-2">
                                            <img src='@("https://industriation.ru/image/"+p.product.image)' alt="" class="table-modal-img">
                                        </div>
                                        <div class="ind-col-lg-8">
                                            <div class="table-modal-title">
                                                @p?.product?.name
                                            </div>
                                            <div class="table-modal-price">
                                                @p._product_price
                                            </div>
                                        </div>
                                    </div>
                                </a>
                            </td>
                            <td class="ind-col-lg-2">
                                @if (p.delivery_period != null)
                                {
                                    <div>
                                        @p.delivery_period
                                        @switch (p.delivery_period_type_id)
                                        {
                                            case 1:
                                                <span> дней</span>
                                                break;
                                            case 2:
                                                <span> недели</span>
                                                break;
                                            case 3:
                                                <span> месяца</span>
                                                break;
                                        }
                                    </div>
                                }
                            </td>
                            <td class="ind-col-lg-1">
                                @p._product_price_with_discount
                            </td>

                            <td class="ind-col-lg-1">@p._count</td>
                            <td class="ind-col-lg-1">@p?._discount_total_price</td>
                            <td class="ind-col-lg-1">
                                @p?._total_price
                            </td>
                            <td class="ind-col-lg-1">
                                @if (p.supplier_order_id == null)
                                {
                                    <input type="checkbox" @bind="p.is_add_to_supplier_order">
                                }
                                else
                                {
                                    <div>Заказ поставщика №@p.supplier_order_id</div>
                                }
                            </td>
                        </tr>
                    }
                }
            </tbody>
        </table>
    </div>

    <div class="main-section">
        <div class="main-section-label">История заказа:</div>
        <div class="order-info">
            @foreach (var h in order.order_Histories)
            {
                <div class="order-info-line">
                    <div class="order-info-date">@h.date</div>
                    <div>@h.text</div>
                </div>
            }
        </div>
    </div>
    <div class="row-f ind-col-10 mt-20" style="justify-content: space-between">
        <div class="main-section ind-col-lg-4-8">
            <div class="main-section-label">Задачи:</div>
            <button @onclick="openCreatetaskModal" type="button" class="save task-create">Создать задачу</button>
            @if (viewCreateTask)
            {
                <div class="modal" tabindex="-1" style="display:block" role="dialog">
                    <div class="modal-dialog modal-xl modal-dialog-scrollable">
                        <div class="modal-content b-s">
                            <div class="modal-body">
                                Исполнитель:
                                <select @bind="newTask.executor_id">
                                    @foreach (var e in executors)
                                    {
                                        <option value="@e.id">@e.name</option>
                                    }
                                </select>
                                <br>
                                Задача:
                                <br>
                                <textarea @bind="newTask.text" class="notes-textarea main-input" placeholder="Введите текст задачи"></textarea>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="close" data-dismiss="modal" @onclick="()=>viewCreateTask = false">Закрыть</button>
                                <button type="button" class="score" @onclick="createTask">Создать</button>
                            </div>
                        </div>
                    </div>
                </div>
            }
            <div>
                <b>Актуальные задачи:</b>
                @foreach (var task in order.tasks.Where(t => t.complete == 0))
                {
                    <div class="actual-task mt-10">
                        <div><b>От кого:</b> @task.creator.name</div>
                        <div><b>Исполнитель:</b> @task.executor.name</div>
                        <div><b>Задача:</b> @task.text</div>
                        <button @onclick="()=>task.complete=1" class="score task-btn">Выполнить</button>
                    </div>
                }
            </div>
            <hr>
            <div>
                <b>Завершенные задачи:</b>
                @foreach (var task in order.tasks.Where(t => t.complete == 1))
                {
                    <div class="done-task mt-10">
                        <div><b>От кого:</b> @task.creator.name</div>
                        <div><b>Исполнитель:</b> @task.executor.name</div>
                        <div><b>Задача:</b> @task.text</div>
                    </div>
                }
            </div>
        </div>
        <div class="main-section ind-col-lg-4-8">
            <div class="main-section-label">Заметки:</div>
            <textarea @bind="order.notes" class="main-input notes-textarea" placeholder="Введите текст вашей заметки"></textarea>
        </div>
    </div>

</div>
@code {
    [Parameter]
    public int? orderId { get; set; }
    [Parameter]
    public order? order { get; set; }
    protected bool viewCreateTask = false;

    protected task newTask { get; set; }
    protected List<user> executors = new();
    protected override async Task OnInitializedAsync()
    {
        if (orderId != null)
            order = await Http.GetFromJsonAsync<order>("api/Order/" + orderId);
        executors.Add(order?.user!);
        if(order?.supplier_manager != null)
            executors.Add(order?.supplier_manager!);
    }
    protected async Task checkAllProducts(ChangeEventArgs e)
    {
        order.product_To_Orders?.Where(p => p.supplier_order_id == null).ToList().ForEach(p => p.is_add_to_supplier_order = Convert.ToBoolean(e.Value));
    }
    protected void openCreatetaskModal()
    {
        newTask = new();
        newTask.executor_id = order.user_id;
        viewCreateTask = true;
    }
    protected void createTask()
    {
        newTask.complete = 0;
        newTask.creator_id = order.user_id;
        newTask.order_id = order.id;
        newTask.executor = executors.Where(e => e.id == newTask.executor_id).First();
        newTask.creator = order.user;
        order.tasks.Add(newTask);
        viewCreateTask = false;
    }
}
