@page "/supplierorder/add"
@page "/supplierorder/add/{order_guid}"
@page "/supplierorder/edit/{supplierOrderId:int}"
@using System.Security.Claims
@using industriation_crm.Server.DataTranslation
@using industriation_crm.Shared.Models
@inject HttpClient Http
@inject NavigationManager NavigationManager
@inject AuthenticationStateProvider AuthenticationStateProvider

<AuthorizeView Roles="6">
    <div class="main-title">@Title заказ поставщику @supplierOrderId</div>
    <hr />

    @if (openProductModal)
    {
        <AddProductsToSupplierOrder CloseModal="CloseAddProductModal" productsInSuplierOrder="supplier_order.product_to_orders"></AddProductsToSupplierOrder>
    }
    @if (openSelectClient)
    {
        <industriation_crm.Client.Pages.Clients.ClientDetails SelectOrderClient="SelectClient"></industriation_crm.Client.Pages.Clients.ClientDetails>
    }
    else
    {
        @*<div class="mb-3">
    <label for="Name" class="form-label">Специалист по снабжению</label>
    <div class="col-md-4">
    <select class="form-control" @bind="supplier_order.user_id">
    @foreach (var u in users)
    {
    <option value="@u.id">@u.name</option>
    }
    </select>
    </div>
    </div>*@

        <div class="main-section mb-20">
            <div class="main-section-label">Поставщик:</div>
            <button @onclick="()=>openSelectClient=true" class="score mb-20" type="button">
                Выбрать поставщика
            </button>
            <div class="mb-10">
                <span class="supplier-title">Организация:</span><b>@supplier_order.supplier?.org_name</b>
            </div>
            <div class="mb-10">
                <span class="supplier-title">ИНН:</span><b>@supplier_order.supplier?.org_inn</b>
            </div>
            <hr>
            <label for="Name" class="form-label">
                Товары заказов
                <button @onclick="()=>openProductModal=true" class="score" type="button">
                    Добавить
                </button>
            </label>
        </div>
        <div class="">
            @foreach (int? id in supplier_order?.product_to_orders?.Where(p => p.id_delete_from_supplier_order == false).GroupBy(p => p.order_id)?.OrderBy(o => o.Key)?.Select(p => p.Key)!)
            {
                <div class="main-section mb-20">
                    <div class="main-section-label">Заказ №@id</div>
                    <label class="form-label mb-20">
                        @if (supplier_order?.product_to_orders?.Where(p => p.order_id == id).FirstOrDefault()?.order?.order_status_id == 4)
                        {
                            <b>На пересогласовании</b>
                        }
                        else if (supplier_order?.product_to_orders?.Where(p => p.order_id == id).FirstOrDefault()?.order?.order_status_id == 7)
                        {
                            <b>Отменен</b>
                        }
                        else if (supplier_order?.product_to_orders?.Where(p => p.order_id == id).FirstOrDefault()?.order?.order_status_id == 8)
                        {
                            <b>Возврат</b>
                        }
                        else
                        {
                            <a href='/order/edit/@id' class="score" role="button">
                                Управление заказом
                            </a>
                        }
                    </label>
                    @*<div class="section-field mb-20">
                        <table class="order-table ind-col-lg-10">
                            <thead class="ind-col-lg-10">
                                <tr class="order-row ind-col-lg-10">
                                    <td class="ind-col-lg-1">Артикул</td>
                                    <td class="ind-col-lg-3">Наименование</td>
                                    <td class="ind-col-lg-2">Количество</td>
                                    <td class="ind-col-lg-2">Срок поставки</td>
                                    <td class="ind-col-lg-1">Стоимость</td>
                                    <td class="ind-col-lg-1"></td>
                                </tr>
                            </thead>
                            <tbody class="ind-col-lg-10">
                                @foreach (var p in supplier_order?.product_to_orders?.Where(p => p.order_id == id && p.id_delete_from_supplier_order! == false))
                                {
                                    <tr class="order-row">
                                        <td class="ind-col-lg-1">@p.product.id</td>
                                        <td class="ind-col-lg-3">@p.product.name</td>
                                        <td class="ind-col-lg-2">
                                            <table class="table-inside">
                                                <tr class="tr-inside">
                                                    <td>
                                                        Колличество: @p.count
                                                    </td>
                                                </tr>
                                                <tr class="tr-inside">
                                                    <td>
                                                        Цена: @p._product_price_with_discount
                                                    </td>
                                                </tr>
                                                <tr class="tr-inside">
                                                    <td>
                                                        Срок доставки: @p.delivery_period
                                                        @switch (p.delivery_period_type_id)
                                                        {
                                                            case 1:
                                                                <div> дней</div>
                                                                break;
                                                            case 2:
                                                                <div> недели</div>
                                                                break;
                                                            case 3:
                                                                <div> месяца</div>
                                                                break;
                                                        }
                                                    </td>
                                                </tr>
                                                <tr class="tr-inside">
                                                    <td>
                                                        Скидка: @p?._discount_total_price
                                                    </td>
                                                </tr>
                                                <tr class="tr-inside">
                                                    <td>
                                                        Стоимость: @p?._total_price
                                                    </td>
                                                </tr>
                                            </table>
                                        </td>
                                        <td class="ind-col-lg-2">
                                            <div class="ind-col-lg-3">
                                                <input type="number" class="table-input" @bind="p!.supplier_delivery_period">
                                            </div>
                                            <div class="ind-col-lg-7">
                                                <select name="" id="" class="table-input" @bind="p.delivery_period_type_id">
                                                    @foreach (var delivery_period_type in delivery_Period_Types!)
                                                    {
                                                        <option value="@delivery_period_type.id">@delivery_period_type.name</option>
                                                    }
                                                </select>
                                            </div>
                                        </td>
                                        <td class="ind-col-lg-1">
                                            <input type="number" step="0.1" class="main-input" @bind-value="@p.supplier_price">
                                        </td>
                                        <td class="ind-col-lg-1">
                                            <button type="button" class="close" @onclick="(async () => await RemoveProductFromSup(p))">Удалить</button>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>*@
                    <div class="section-field mb-20">
                        <table class="order-table ind-col-lg-10">
                            <thead class="ind-col-lg-10">
                                <tr class="order-row ind-col-lg-10">
                                    <td class="ind-col-lg-1">Артикул</td>
                                    <td class="ind-col-lg-3">Наименование</td>
                                    <td class="ind-col-lg-1">Количество</td>
                                    <td class="ind-col-lg-2">Срок поставки</td>
                                    <td class="ind-col-lg-2">Стоимость</td>
                                    <td class="ind-col-lg-1"></td>
                                </tr>
                            </thead>
                            <tbody class="ind-col-lg-10">
                                @foreach (var p in supplier_order?.product_to_orders?.Where(p => p.order_id == id && p.id_delete_from_supplier_order! == false))
                                {
                                    <tr class="order-row">
                                        <td class="ind-col-lg-1">@p.product.id</td>
                                        <td class="ind-col-lg-3">@p.product.name</td>
                                        <td class="ind-col-lg-1">
                                            @p.count
                                        </td>
                                        <td class="ind-col-lg-2">
                                            <table class="table-inside">
                                                <tr class="tr-inside">
                                                    <td>
                                                        Срок доставки: @p.delivery_period
                                                        @switch (p.delivery_period_type_id)
                                                        {
                                                            case 1:
                                                                <div> дней</div>
                                                                break;
                                                            case 2:
                                                                <div> недели</div>
                                                                break;
                                                            case 3:
                                                                <div> месяца</div>
                                                                break;
                                                        }
                                                    </td>
                                                </tr>
                                                   -------
                                                <tr class="tr-inside">
                                                    <td>
                                                        <div class="ind-col-lg-10 flex">
                                                            <input type="number" class="table-input del-input" @bind="p!.supplier_delivery_period">
                                                            <select name="" id="" class="table-input" @bind="p.delivery_period_type_id">
                                                                @foreach (var delivery_period_type in delivery_Period_Types!)
                                                                {
                                                                    <option value="@delivery_period_type.id">@delivery_period_type.name</option>
                                                                }
                                                            </select>
                                                        </div>
                                                    </td>
                                                </tr>
                                            </table>
                                        </td>
                                        <td class="ind-col-lg-2">
                                            <table class="table-inside">
                                                <tr class="tr-inside">
                                                    <td>
                                                        Цена: @p._product_price_with_discount
                                                    </td>
                                                </tr>
                                                <tr class="tr-inside">
                                                    <td>
                                                        Стоимость: @p?._total_price
                                                    </td>
                                                </tr>
                                                -------
                                                <tr class="tr-inside">
                                                    <input type="number" step="0.1" class="main-input" @bind-value="@p.supplier_price">
                                                </tr>
                                            </table>
                                        </td>
                                        <td class="ind-col-lg-1">
                                            <button type="button" class="close" @onclick="(async () => await RemoveProductFromSup(p))">Удалить</button>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>

            }
        </div>


        <div class="form-group">
            <button type="submit" class="score" @onclick="SaveOrder">Сохранить</button>
            <button type="button" class="close" @onclick="Cancel">Закрыть</button>
            <button type="button" class="save" @onclick="SendTo1C">Сформировать заказ</button>
        </div>
    }
</AuthorizeView>
@code {

    [Parameter]
    public string? order_guid { get; set; }
    [Parameter]
    public int supplierOrderId { get; set; }

    protected bool openSelectClient = false;
    protected bool openProductModal = false;

    protected string Title = "Добавить";
    protected supplier_order supplier_order = new();

    protected List<delivery_period_type>? delivery_Period_Types = new();
    protected List<user>? users = new();
    protected int? user_id { get; set; }

    protected override async Task OnInitializedAsync()
    {
        var authState = await AuthenticationStateProvider.GetAuthenticationStateAsync();
        user_id = authState.User.Claims.Where(_ => _.Type == ClaimTypes.NameIdentifier).Select(_ => Convert.ToInt32(_.Value)).First();
        users = await Http.GetFromJsonAsync<List<user>>("api/User?type=suppliers");
        delivery_Period_Types = await Http.GetFromJsonAsync<List<delivery_period_type>>("api/DeliveryPeriodType");
        if (supplierOrderId == 0)
            supplier_order.user_id = users[0].id;

    }
    protected override async Task OnParametersSetAsync()
    {

        if (supplierOrderId != 0)
        {
            Title = "Изменить";
            supplier_order = await Http.GetFromJsonAsync<supplier_order>("api/SupplierOrder/" + supplierOrderId);
            if (supplier_order.user_id == 0)
                supplier_order.user_id = users[0].id;
        }
        if (order_guid != null)
        {
            supplier_order.product_to_orders.AddRange(order_translation.orders_data.Where(c => c.Key == Guid.Parse(order_guid)).FirstOrDefault().Value.product_To_Orders.Where(p => p.is_add_to_supplier_order == true).ToList());
            order_translation.orders_data.Remove(Guid.Parse(order_guid));
        }
    }
    protected void SelectClient(client _client)
    {
        openSelectClient = false;
        supplier_order.supplier_id = _client.id;
        supplier_order.supplier = _client;
        StateHasChanged();

    }
    protected async Task RemoveProductFromSup(product_to_order product_To_Order)
    {
        product_To_Order.id_delete_from_supplier_order = true;

    }
    protected async Task SendTo1C()
    {
        //if (supplier_order?.product_to_orders?.Where(o => o.order?.order_status_id != 3).FirstOrDefault() != null)
        //{
        //    //Оповестить пользователя о ошибке валидации
        //    return;
        //}
        //else
        //{
        supplier_order?.product_to_orders?.ForEach(p => p.order = null);
        await Http.PostAsJsonAsync("api/_1C/CreateSupplierOrder", supplier_order);
            Cancel();
        //}
    }
    protected async Task SaveOrder()
    {

        foreach (int? id in supplier_order?.product_to_orders?.Where(p => p.order_id != null && p.id_delete_from_supplier_order == false).GroupBy(p => p.order_id)?.OrderBy(o => o.Key)?.Select(p => p.Key)!)
        {
            order? order = await Http.GetFromJsonAsync<order>("api/order/" + id);
            if (order.supplier_manager_id == null)
            {
                order.supplier_manager_id = supplier_order.user_id;
                await Http.PutAsJsonAsync("api/Order", order);
            }
        }
        foreach (int? id in supplier_order?.product_to_orders?.Where(p => p.id_delete_from_supplier_order == true).GroupBy(p => p.order_id)?.OrderBy(o => o.Key)?.Select(p => p.Key)!)
        {
            if (supplier_order?.product_to_orders?.Where(p => p.id_delete_from_supplier_order == false).Select(p => p.order_id).ToList().Contains(id) == false)
            {
                order? order = await Http.GetFromJsonAsync<order>("api/order/" + id);
                order.supplier_manager_id = null;
                await Http.PutAsJsonAsync("api/Order", order);
            }
        }
        supplier_order.product_to_orders?.ForEach(p => p.order = null);
        if (supplier_order.id != 0)
        {
            await Http.PutAsJsonAsync("api/SupplierOrder", supplier_order);
        }
        else
        {
            supplier_order.user_id = user_id;
            var response = await Http.PostAsJsonAsync("api/SupplierOrder", supplier_order);
            supplierOrderId = await response.Content.ReadFromJsonAsync<int>();
            await OnParametersSetAsync();
        }
    }
    public void Cancel()
    {
        NavigationManager.NavigateTo("/fetchsupplierordersdetails");
    }
    protected void CloseAddProductModal()
    {
        openProductModal = false;
        StateHasChanged();
    }
}